{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ propiedad.nombre }}</h1>
            <p class="card-text"><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
            <p class="card-text"><strong>Metros cuadrados construidos:</strong> {{ propiedad.m2_construidos }}</p>
            <p class="card-text"><strong>Metros cuadrados totales:</strong> {{ propiedad.m2_totales }}</p>
            <p class="card-text"><strong>Estacionamientos:</strong> {{ propiedad.cantidad_estacionamientos }}</p>
            <p class="card-text"><strong>Habitaciones:</strong> {{ propiedad.cantidad_habitaciones }}</p>
            <p class="card-text"><strong>Baños:</strong> {{ propiedad.cantidad_banios }}</p>
            <p class="card-text"><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
            <p class="card-text"><strong>Precio Mensual:</strong> {{ propiedad.precio_mensual }}</p>
            <p class="card-text"><strong>Arrendador:</strong> {{ propiedad.arrendador.user.username }}</p>
            <!-- Añadir más detalles según necesidades -->

            <!-- Botón para regresar al índice -->
            <a href="{% url 'dashboard_propiedades' %}" class="btn btn-primary">Volver atras</a>
        </div>
    </div>
</div>

{% endblock %}