{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">

            <h2 class="card-title">Nombre propiedad: {{ propiedad.nombre }}</h2>
            <p class="card-text"><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
            <p class="card-text"><strong>Metros cuadrados construidos:</strong> {{ propiedad.m2_construidos }}</p>
            <p class="card-text"><strong>Metros cuadrados totales:</strong> {{ propiedad.m2_totales }}</p>
            <p class="card-text"><strong>Estacionamientos:</strong> {{ propiedad.cantidad_estacionamientos }}</p>
            <p class="card-text"><strong>Habitaciones:</strong> {{ propiedad.cantidad_habitaciones }}</p>
            <p class="card-text"><strong>Baños:</strong> {{ propiedad.cantidad_banios }}</p>
            <p class="card-text"><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
            <p class="card-text"><strong>Precio Mensual:</strong> {{ propiedad.precio_mensual }}</p>
            <p class="card-text"><strong>Arrendada:</strong> {{ propiedad.arrendada }}</p>
            <!-- Para volver al dash -->
            <a href="{% url 'dashboard_propiedades' %}" class="btn btn-primary">Ir al Dashboard</a>
        </div>
    </div>
</div>

{% endblock %}